/* Navbar */
nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #1e1a4d;
  height: 3.75rem;
  top: 0;
  left: 0;
  padding: 1rem;
  border-bottom: solid 1px #eef2ff;
  z-index: 1;
  opacity: 0.9;
}

nav ul {
  display: flex;
  gap: 0.8rem;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #eef2ff;
  transition: all 0.3s ease-out;
}

nav ul li a:hover {
  border-bottom: solid 1px #f54900;
  font-weight: 500;
  font-size: 1.1rem;
  color: #f54900;
}

.logo {
  display: flex;
  align-items: center;
  color: #eef2ff;
  gap: 0.8rem;
}
.logo img {
  width: 2.5rem;
  height: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
