/* Navbar */
nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--primary-color);
  height: 3.75rem;
  top: 0;
  left: 0;
  padding: 1rem;
  border-bottom: solid 1px var(--primary-border-color);
  z-index: 1;
  opacity: 0.9;
}

nav ul {
  display: flex;
  gap: 0.8rem;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--primary-text-color);
  transition: all 0.3s ease-out;
}

nav ul li a:hover {
  border-bottom: solid 1px var(--secondary-color);
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--secondary-color);
}

.logo {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  gap: 0.8rem;
}
.logo img {
  width: 2.5rem;
  height: 2.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
